.page {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
}

.content {
  flex: 1;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.title {
  position: absolute;
  top: 80px;
  margin: 0;
  text-align: center;
  z-index: 10;
  color: white;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7);
  font-size: 2.5rem;
}

.videoWrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
}

/* Pantalla completa */
.video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0;
}
